## general
*.log
yarn.lock
yarn-error.log
package-lock.json
ModuleDescriptor.json

##vscode
*.sqlite
.vscode/
.vs/

## macos
*.DS_Store
*.icloud
## maven
target/
artifacts/
## gradle
.gradle/
build/

## node
node_modules/
dist/
## vim
*~
.*.sw?
*.swp
*.swo
#CI


## folio
.vertx/
# Until each mod-* has addressed RMB-130:
**/src/main/java/org/folio/rest/jaxrs/
**/src/main/java/org/folio/rest/client/

## docs
docs/**

Vagrantfile

