## general
*.log
yarn.lock
yarn-error.log
ModuleDescriptor.json

## macos
*.DS_Store

## maven
target/

## gradle
.gradle/
build/

## node
node_modules/

## vim
*~
.*.sw?
*.swp
*.swo

## folio
.vertx/
# Until each mod-* has addressed RMB-130:
**/src/main/java/org/folio/rest/jaxrs/
**/src/main/java/org/folio/rest/client/
