.recordContainer {
  width: 70%;
}

.leaderData {
  padding-top: 20px;
}

.controlFieldContainer {
  margin-top: 15px;
  border-radius: 10px;
  background-color: #dcdcdc;
  background-position: left top;
  background-repeat: repeat;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  text-align: left;
  height: 100%;
  display: grid;

  & label {
    padding-right: 10px;
  }

  & input {
    width: 60%;
  }
}

.fieldContainer {
  background-color: #dcdcdc;
}

.marcFieldIconCaret {
  float: right;
  margin-top: 5px;
  cursor: pointer;
  display: flex;
}

.pl-10 {
  padding-left: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.marcEditableListFormHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.marcEditableListRow {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  background-color: #efefef;
  margin-bottom: 4px;
}

.marcEditableListHeaders {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  height: 2px;
}

.marcEditableListError {
  width: 100%;
  padding: 6px;
}

.leaderResults,
.hidden,
[hidden] {
  display: none;
}

.leaderResultsActive,
.visible,
[visible] {
  display: block;
}
