.recordContainer {
  flex-basis: 50%;
}

.controlFieldContainer {
  margin-top: 15px;
  border-radius: 10px;
  background-color: #dcdcdc;
  background-position: left top;
  background-repeat: repeat;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  height: 100%;
  display: grid;

  & label {
    padding-right: 10px;
  }

  & input {
    width: 60%;
  }
}

.fieldContainer {
  background-color: #dcdcdc;
}

.marcFieldIconCaret {
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

.pl-10 {
  padding-left: 10px;
}

/**
 * VariableFieldList
 */

.editableListFormHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.editListRow {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  background-color: #efefef;
  margin-bottom: 4px;
  min-height: 40px;
}

.editListHeaders {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.editableListError {
  width: 100%;
  padding: 6px;
}
