.recordContainer {
  flex-basis: 50%;
}

.controlFieldContainer {
  margin-top: 15px;
  border-radius: 10px;
  background-color: #dcdcdc;
  background-position: left top;
  background-repeat: repeat;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  height: 100%;
  display: grid;

  & label {
    padding-right: 10px;
  }

  & input {
    width: 60%;
  }
}

.fieldContainer {
  background-color: #dcdcdc;
}

.marcFieldIconCaret {
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

.pl-10 {
  padding-left: 10px;
}
.divTable{
	display: table;
  width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #dcdcdc;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #dcdcdc;
	display: table-cell;
	padding: 0;
}
.divTableHeading {
	background-color: #dcdcdc;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #dcdcdc;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}