@import '../../../shared/styles/common.css';

.editableListFormHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.editListRow {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  background-color: #efefef;
  margin-bottom: 4px;
  min-height: 40px;
}

.editListHeaders {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.editableListError {
  width: 100%;
  padding: 6px;
}

.withSeparator {
  & span {
    margin-left: 10px;
    padding-left: 6px;
    border-left: 1px solid #fff;
  }
}
