[data-module] {
  height: 100%;
}

.authority {
  width: 18px;
  height: 18px;
  background-color: #f6544c;
  border-radius: 25%;
}

.bibliographic {
  width: 18px;
  height: 18px;
  background-color: #2b75bb;
  border-radius: 25%;
}
.rightPosition {
  float: right;
  margin-right: -7px;
  margin-top:10px;
  height: 24px;
  max-height: 24px;
  line-height: 0;
}
.rightPositionTop {
  float: right;
  margin-right: 7px;
  margin-top:10px;
  height: 24px;
  max-height: 24px;
  line-height: 0;
}
.select_margin {
  & * {
    margin-bottom: 0;
  }

  & .isfocused {
    border-bottom: 0;
  }
}

.popover {
  padding-left: 0;

  & svg {
    width: 18px;
    height: 18px;
  }
}

.padding8 {
  padding-bottom: 8px;
}

.max-width {
  width: 100%;
}