@import '@folio/stripes-components/lib/variables';

[data-module] {
  height: 100%;
}

[data-full-width] {
  width: 100%;
}

.padding8 {
  padding-bottom: 8px;
}

.max-width {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}
