@import '@folio/stripes-components/lib/variables';

[data-module] {
  height: 100%;
}

[data-full-width] {
  width: 100%;
}

.authority {
  width: 18px;
  height: 18px;
  background-color: var(--danger);
  border-radius: 25%;
}

.bibliographic {
  width: 18px;
  height: 18px;
  background-color: var(--primary);
  border-radius: 25%;
}

.rightPosition {
  float: right;
  margin-top: 10px;
  height: 24px;
  max-height: 24px;
  line-height: 12px;
}

.rightPositionTop {
  float: right;
  margin-top: 10px;
  height: 24px;
  margin-right: 5px;
  max-height: 24px;
  line-height: 12px;
}

.select_margin {
  & * {
    margin-bottom: 0;
  }

  & .isfocused {
    border-bottom: 0;
  }
}

.popover {
  padding-left: 0;

  & svg {
    width: 18px;
    height: 18px;
  }
}

.padding8 {
  padding-bottom: 8px;
}

.max-width {
  width: 100%;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.tagHighLighted {
  background-color: #ff0;
}
