@import '@folio/stripes-components/lib/variables';

:root {
  --font-size-xx-large: 18px;
  --font-size-xxx-large: 24px;
  --margin-top-xxl: 16px;
  --tag-highlight-color: #ff0;
  --float-left: left;
  --float-right: right;
}
