.mandatoryList {
  margin-bottom: 10px;
}

.mr15 {
  margin-right: 15px;
}

.currentTag {
  padding: 10px 20px;
}

.groupLabel {
  margin-bottom: 0 !important;
}

.radioGroup {
  margin: 10px;
}

.radioLabel {
  padding-right: 15px;
}
