.contentLoadingRow {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  padding: 0 20px;
  pointer-events: none;
}

.contentLoading {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 25px;
  width: 45px;
  padding: 4px 6px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.emptyMessage {
  padding: 15px;
}
