header {
  z-index: 999 !important;
}

i {
  font-size: var(--icons-size-medium) !important;
}

.CustomIndexesH2 {
  display: -webkit-box;
  -webkit-margin-collapse: discard;
}

.CustomIndexTR {
  display: -webkit-box;
}

.PageBreak {
  display: block;
  page-break-before: always;
}
