header {
  z-index: 999 !important;
}

i {
  font-size: var(--icons-size-medium) !important;
}

section {
  transition: all 0.25s ease-in-out;

  &.pane {
    transition: all 0.25s ease-in-out;
  }
}
