header {
  z-index: 999 !important;
}

i {
  font-size: var(--icons-size-medium) !important;
}

.CustomIndexesH2 {
  -webkit-margin-collapse: discard;
}

.CustomDivContentIndexes{
  text-align: -webkit-auto;
}