/* stylelint-disable */

@import '@folio/stripes-components/lib/variables';

.dropdownContainerText {
  line-height: 1.8;
  font-weight: 600;
  cursor: pointer;
}

.dropdownContainer {
  padding: 8px;
  color: var(--primary);
  font-weight: var(--text-weight-headline-basis);
  cursor: pointer;
}

.dropdownContainerMenuItem {
  padding: 3px;
  color: var(--primary);
  font-weight: var(--text-weight-headline-basis);
  cursor: pointer;
}

.dropdownShortcut {
  padding-bottom: 5px;

  & span {
    float: right;
    color: var(--color-text);
    font-weight: var(--text-weight-basis);
  }
}

.dropdownShortcutVariable {
  padding-bottom: 5px;
  color: #222;
  font-weight: 700;

  & span {
    float: right;
    color: var(--color-text);
    font-weight: 700;
    opacity: 0.4;
  }

  & span.bold {
    font-weight: 700;
  }

  & span.light {
    float: right;
    color: #a7a7a7;
    font-weight: 700;
  }
}



.clearHistoryContainer {
  padding-bottom: 5px;
  width: 40%;
  float: right;
  text-align: right;
}
