.authority {
  width: 18px;
  height: 18px;
  background-color: #f6544c;
  border-radius: 25%;
}

.bibliographic {
  width: 18px;
  height: 18px;
  background-color: #2b75bb;
  border-radius: 25%;
}

.select_margin {
  & * {
    margin-bottom: 0;
    border-bottom: 0;
  }

  & .isfocused {
    border-bottom: 0;
  }
}

/* .popover {
  padding-left: 0;
  & svg {
    width: 18px;
    height: 18px;
  }
} */
