.container {
  flex: 1;
  justify-content: 'center';
  align-items: 'center';
}

.navList section > div {
  border-top: none !important;
}

.navList {
  padding-top: 10px;
}

.navItem {
  margin-bottom: 30px;
  overflow: 'hidden';
  position: 'relative';
  display: 'flex';
}

.expandAll {
  float: right;
  width: 100%;
}

.expandAll > button {
  width: 100%;
}
