@import '../../styles/variable.css';

.authority {
  width: 18px;
  height: 18px;
  background-color: var(--danger);
  border-radius: 25%;
}

.bibliographic {
  width: 18px;
  height: 18px;
  background-color: var(--primary);
  border-radius: 25%;
}

.mt16 {
  margin-top: var(--margin-top-xxl);
}
