.search-filters {
  & .selectionControl {
    margin-bottom: 0;
  }

  & [role="tabpanel"] {
    margin-bottom: 0;
  }
}

.mr {
  margin-right: 1 rem;
}

.authority {
  width: 24px;
  height: 24px;
  background-color: #f6544c !important;
  border-radius:25%;
}

.bibliographic {
  width: 24px;
  height: 24px;
  background-color: #2b75bb !important;
  border-radius:25%;
}

.select_margin {
  & * {
    margin-bottom: 0;
    border-bottom: 0;
  }

  & .isfocused {
    border-bottom: 0;
  }
}

.searchPanel {
  width: 100%;
  height: 100%;
  z-index: 99999;

  & span {
    overflow: visible;
  }
}
