.search-filters {
  & .selectionControl {
    margin-bottom: 0;
  }

  & [role="tabpanel"] {
    margin-bottom: 0;
  }
}

.mr {
  margin-right: 1 rem;
}
.authority {
  background: red;
}
.bibliographic {
  background: blue;
}
