.rcornerspanel {
  border-radius: 10px;
  background-color: #c0c0c0;
  border-top-style: inset;
  margin-left: 7px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: -webkit-fill-available;
  height: 100%;
}

.titleCollapsiblePanel {
  margin-top: 15px;
  border-radius: 10px;
  background-color: #c0c0c0;
  background-position: left top;
  background-repeat: repeat;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: 100%;
  display: grid;
}
