.rcornerspanel {
    border-radius: 10px;
    background-color:#C0C0C0;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 100%;
    height: 100%; 
  }

  .titleCollapsiblePanel {
    border-radius: 10px;
    background-color:#C0C0C0;
    background-position: left top;
    background-repeat: repeat;
    padding: 5px; 
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 100%; 
  }