@import '../../../Theme/variables.css';

/* Empty Message */
.emptyMessage {
  padding: 15px;
  color: var(--color-text-p2);
  position: absolute;
  top: var(--min-pane-header-height);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: var(--color-fill);
  flex-direction: column;
}

.emptyMessage,
.emptyMessageLabelWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyMessageLabelWrap {
  font-size: 22px;
}

.emptyMessageIcon,
.emptyMessageLabel {
  margin: 0 4px;
}

.emptyMessageButton {
  margin-top: 15px;
}
